<div *ngIf="calling">
        <div id="mydiv">
                <img src="../../assets/images/Loading_icon.gif" class="ajax-loader" alt="calling to bluemix service"/>
        </div>
</div>

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
</div>


<div>
    <div class="row content">
        <div class="col-sm-2 sidenav">

            <h4>
               <b>Share Certificates</b> 
            </h4>

            

            <br>
            <div class="col-sm-10" class="w-100 p-3" style="background-color: #eee;height:70px;vertical-align:middle;">

                <ul class="nav nav-pills nav-stacked">

                    <li>
                        <div *ngFor="let allTopic of allTopics; let i = index">
                           
                            <a class="btn button" data-toggle="collapse"><b>{{allTopic.certificateId}}</b> z</a> <br>

                        </div>
                    </li>
                </ul>
                
                <br>
            </div>
           
        </div>

        <div class="col-sm-10">
            <div style="background-color: #eee;height:auto!important;">
                <br>
                <div class="col-sm-8" style="float:left;margin-top: -18px;">
                    <input [(ngModel)]="this.SearchValue" type='text' placeholder="abc ltd" class="form-control" />
                </div>
                <div style="float:left;margin-top: -15px;">
                    <button class="btn-primary" (click)="getSearchResult()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <br>
            </div>
            <div>
            <div><strong>	
                Script Name : {{ this.productName}} </strong>	</div>
            <div><strong>	Current Price : {{ this.productPrice  }}</strong>	</div>

            </div>
            <hr>


            
                <br>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="col-sm-10">

                <table class="table table-hover"> 
                    <thead> 
                      <tr> 
                          <th>Id</th>
                          <th>certificate Id</th>
                          <th>Issued Date</th>
                          <th>Number of Share</th>
                          <th>Number Of Shares to Sell</th>
                          <th>Value Of Shares</th>
                      </tr> 
                    </thead> 
                    <tbody> 
                      <tr *ngFor="let allTopic of allTopics; let i = index">
                        <td>{{i}}</td>
                        <td>{{allTopic.certificateId}}</td>
                        <td>{{allTopic.issuedDate}}</td>
                        <td>{{allTopic.numberOfShares}}</td>
                        <td>
                        <input type="number" name="qty" [(ngModel)]="allTopic.quantity" (change)="countPrice(this.allTopic)" placeholder="share to sell">
                        <td><div>
                    
                        <input readonly value="{{allTopic.quantity * this.productPrice}}" [(ngModel)]="allTopic.subtotal">

                        </div></td>

                          <td><button class="btn btn-sm btn-danger" (click)="get">X</button></td>
                      </tr>
                      <tr>
                          <td>

                          </td>
                          <td>

                          </td>
                          <td></td>
                          <td>{{this.totalShare}}</td>
                          <td>{{this.totalSoldQty}}</td>
                          <td>{{this.totalSoldPrice}}</td>

                      </tr>
</tbody>
    
                    </table>
                    <div class="alert alert-danger" role="alert">
                            <strong>{{ this.warningMsg}}</strong>
                    </div>
                      
                <div>
                        

                        <button type="button" (click)="postCertificate()" [disabled]="this.buttonDisabled" class="btn btn-primary">Sell Share</button>
                        <button type="button" class="btn btn-secondary">Cancel</button>

                </div>

            </div>            
       </div>
    </div>

